.PlayerTable {
  background-image: url('./table.jpg');
  background-repeat: repeat;
  min-height: 17vh;
  width: 100%;
  -webkit-filter: hue-rotate(0deg);
  filter: hue-rotate(0deg);
  float: left;
}

.PlayerCircle {
  position: absolute;
  top: 88vh;
  left: 48vw;
  width: 9vh;
  height: 6.5vh;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: red;
  user-select: none;
  font-size: 1.25vw;
  font-weight: 700;
  color: black;
  text-align: center;
  padding-top: 2.5vh;
  vertical-align: center;
}

.PlayerCircle.selectable {
  border: 4px solid purple;
}

.PlayerCircle.selectable:hover {
  cursor: pointer;
  border: 4px solid #0099cc;
}

.IconFooter {
  width: 3vw;
  height: calc(4vh + 1px);
  position: absolute;
  top: 94vh;
  background-color: aqua;
  color: #660000;
  font-weight: 700;
  text-align: center;
}

.IconFooter img {
  display: block;
  margin: auto;
}

.showesModal:hover {
  cursor: pointer;
}
