.msgArea {
  display: block;
  height: 33vh;
  width: 22vw;
}

.msgTitle {
  width: 100%;
  text-align: center;
  margin-top: 1vh;
  color: #fcc1df;
}

.msgContent {
  max-width: 95%;
  margin: auto;
  font-size: 22px;
  margin-top: 4vh;
  color: #fcd4e8;
}

.msgContent img {
  width: 22px;
}
